@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
.main-registro{
    display: flex;
    height: 100vh;
    width: 100vw;
}
/* IMAGEN */
.imagen-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(229,241,217);
    flex-basis: 35%;
}
.imagen-registro h1{
    font-size: 4rem;
}
.imagen-registro img{
    width: 25rem;
    border-radius: 50%;
    border: 1rem solid rgb(131,182,77);
}
/* REGISTRO CON FORMULARIO */
.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 65%;
}
.registro a{
    text-decoration: underline;
}
.registro h1{
    font-size: 4rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.input-form{
    width: 24rem;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 25px;
    color: rgb(97, 96, 96);
    border: none;
    background-color: rgb(229,241,217) ;
    border: 1px solid rgb(229,241,217) ;
    cursor: pointer;
}
.input-form::placeholder{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.input-form:focus{
    outline:2px solid rgb(131,182,77);
}
.btn-form{
    background-color: rgb(131,182,77) ;
    font-weight: 700;
    font-size: 1.4rem;
    border: 2px solid rgb(131,182,77);
    font-family: 'Lato', sans-serif;
    width: 12rem;
    padding: 0.8rem;
    border-radius: 25px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 250ms;
}
.btn-form:hover{
    background-color: transparent;
    color: rgb(131,182,77);
    border: 2px solid rgb(131,182,77);
}
.pregunta{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*==== FIN SIGN-UP - LOG-IN====== */
/* SECTOR MEDIA-QUERIES */
@media (max-width:1350px) {
    .imagen-registro h1{
        font-size: 3.5rem;
    }
    .imagen-registro img{
        width: 23rem;
        border: 0.6rem solid rgb(131,182,77);
    }
}
@media (max-width:1350px) {
    .imagen-registro h1{
        font-size: 3.5rem;
    }
    .imagen-registro img{
        width: 21rem;
        border: 0.6rem solid rgb(131,182,77);
    }
}
@media (max-width:1350px) {
    .imagen-registro h1{
        font-size: 3.5rem;
    }
    .imagen-registro img{
        width: 18rem;
        border: 0.6rem solid rgb(131,182,77);
    }
}
@media (max-width:950px) {
    .main-registro{
        flex-direction: column;
        align-items: center;
    }
    .imagen-registro img{
        display: none;
    }
    .imagen-registro{
        flex-basis: 0%;
        width: 100vw;
        padding: 0.5rem 0rem;
        background-color: rgb(131,182,77);
    }
}
@media (max-width:450px) {
    .registro h1{
        font-size: 3.5rem;
    }
    .input-form{
        width: 19rem;
    }
    .pregunta p,
    .pregunta a{
        font-size: 0.9rem;
    }
}
@media (max-width:340px) {
    .pregunta p,
    .pregunta a{
        font-size: 0.8rem;
    }
}
/* FIN SECTOR MEDIA-QUERIES */
