.main-registro{
    display: flex;
    height: 100vh;
    width: 100vw;
}
/* IMAGEN */
.imagen-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(229,241,217);
    flex-basis: 35%;
}
.imagen-registro h1{
    font-size: 4rem;
}
.imagen-registro img{
    width: 25rem;
    border-radius: 50%;
    border: 1rem solid rgb(131,182,77);
}
/* REGISTRO CON GOOGLE */
.registro-google{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10.4rem;
    flex-basis: 65%;
}
.registro-google a{
    text-decoration: underline;
}
.registro-google h1{
    font-size: 4rem;
}
.google-enlace{
    background-color: #6AAAFB;
    border: 1px solid #6AAAFB;
    padding: 1rem 2.2rem;
    border-radius: 10px;
    color: white;
    font-size: 2.2rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: all 250ms;
    width: 19.6rem;
    cursor: pointer;
}
.google-enlace:hover{
    background-color: transparent;
    color: #6AAAFB;
}
.google-enlace:hover.google i{
    color: #6AAAFB;
}
/*==== FIN SIGN-UP - LOG-IN====== */
/* SECTOR MEDIA-QUERIES */
@media (max-width:1350px) {
    .imagen-registro h1{
        font-size: 3.5rem;
    }
    .imagen-registro img{
        width: 23rem;
        border: 0.6rem solid rgb(131,182,77);
    }
    .registro-google h1{
        font-size: 3.5rem;
    }
    .registro-google{
        gap: 9.5rem;
    }
}
@media (max-width:1350px) {
    .imagen-registro h1{
        font-size: 3.5rem;
    }
    .imagen-registro img{
        width: 21rem;
        border: 0.6rem solid rgb(131,182,77);
    }
    .registro-google h1{
        font-size: 3.5rem;
    }
}
@media (max-width:1350px) {
    .imagen-registro h1{
        font-size: 3.5rem;
    }
    .imagen-registro img{
        width: 18rem;
        border: 0.6rem solid rgb(131,182,77);
    }
    .registro-google h1{
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    .registro-google{
        gap: 8rem;
    }
}
@media (max-width:950px) {
    .main-registro{
        flex-direction: column;
        align-items: center;
    }
    .imagen-registro img{
        display: none;
    }
    .imagen-registro{
        flex-basis: 0%;
        width: 100vw;
        padding: 0.5rem;
        background-color: rgb(131,182,77);
    }
}
@media (max-width:350px) {
    .google-enlace{
        padding: 1rem 1.3rem;
        font-size: 2.2rem;  
    }
}
/* FIN SECTOR MEDIA-QUERIES */
