/* SOBRE NOSOTROS */
.chefs{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin: 0 auto;
    position: relative;
}
.hoja-chef{
    position: absolute;
    right: 0.75rem;
    top: -5rem;
}
.contenedor-chefs{
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.texto-chefs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.texto-chefs h2{
    margin-top: 1rem;
    margin: 0;
    font-size: 3rem;
}
.texto-chefs p{
    color: gray;
    width: 70%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.chefs-img{
    margin: 3rem 0rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.uno{
    background-color: #E5F1D9;
    width: 24rem;
    height: 30rem;
    border-radius: 10px;
    padding-top: 1.5rem;
}
.dos{
    background-color: #E5F1D9;
    width: 20rem;
    height: 33rem;
    border-radius: 10px;
    padding: 1rem 2rem 0rem 2rem;
    margin: 5rem 4rem 0rem;
}

.tres{
    background-color: #E5F1D9;
    width: 24rem;
    height: 32rem;
    border-radius: 10px;
    padding-right: 1rem;
}

/* MEDIA QUERIES NOSOTROS */
/* ====COMPUTADORA O LAPTOP */
@media (max-width:1750px) {
    .chefs-img{
        gap: 5.6rem;
    }
    .uno{
        width: 23rem;
        height: 29rem;
    }
    .dos{
        width: 20rem;
        height: 33rem;
    }
    
    .tres{
        width: 23.2rem;
        height: 33rem;
    }
}
@media (max-width:1650px) {
    .chefs-img{
        gap: 4rem;
    }
    .uno{
        width: 21.6rem;
        height: 28rem;
    }
    .dos{
        width: 20rem;
        height: 33rem;
    }
    
    .tres{
        width: 22rem;
        height: 32rem;
    }
}
@media (max-width:1500px) {
    .chefs-img{
        gap: 3.4rem;
    }
    .uno{
        width: 19rem;
        height: 26rem;
    }
    .dos{
        width: 18rem;
        height: 29rem;
    }
    
    .tres{
        width: 19rem;
        height: 27.5rem;
    }
}
@media (max-width:1400px) {
    .chefs-img{
        gap: 2.2rem;
    }
}
@media (max-width:1350px) {
    .chefs-img{
        gap: 3.2rem;
    }
    .uno{
        width: 17.3rem;
        height: 24rem;
    }
    .dos{
        width: 16rem;
        height: 26rem;
    }
    
    .tres{
        width: 17.3rem;
        height: 26rem;
    }
}
@media (max-width:1300px) {
    .chefs-img{
        gap: 2.3rem;
    }
}
@media (max-width:1250px) {
    .chefs-img{
        gap: 2.5rem;
    }
    .uno{
        width: 16rem;
        height: 23rem;
    }
    .dos{
        width: 15rem;
        height: 25rem;
    }
    
    .tres{
        width: 16rem;
        height: 25rem;
    }
}
@media (max-width:1200px) {
    .chefs-img{
        gap: 2rem;
    }
}
@media (max-width:1150px) {
    .chefs-img{
        gap: 1.5rem;
    }
    .uno{
        width: 15rem;
        height: 21rem;
    }
    .dos{
        width: 14rem;
        height: 25rem;
    }
    
    .tres{
        width: 15rem;
        height: 23rem;
    }
}
@media (max-width:1150px) {
    .chefs-img{
        gap: 0.5rem;
    }
    .uno{
        width: 14rem;
        height: 20rem;
    }
    .dos{
        width: 13rem;
        height: 24rem;
    }
    
    .tres{
        width: 14rem;
        height: 22rem;
    }
}
/* ===FIN COMPUTADORA O LAPTOP==== */

/* ===TABLET==== */
@media (max-width:1024px) {
    .chefs-img{
        gap: 1.5rem;
    }
    .uno{
        width: 12rem;
        height: 18rem;
    }
    .dos{
        width: 12rem;
        height: 23rem;
    }
    
    .tres{
        width: 12rem;
        height: 20rem;
    }
    .texto-chefs h2{
        font-size: 2.7rem;
        text-align: center;
    }
    .texto-chefs p{
        width: 80%;
        font-size: 1.1rem;
    }
}
@media (max-width:900px) {
    .chefs-img{
        gap: 0.7rem;
        flex-direction: column;
        align-items: center;
    }
    .uno{
        width: 24rem;
        height: 30rem;
        margin-bottom: -5rem;
    }
    .dos{
        width: 20rem;
        height: 33rem;
    }
    
    .tres{
        width: 23.3rem;
        height: 32rem;
    }
}
/* === FIN TABLET==== */

/* =====CELULAR======= */
@media (max-width:768px) {
    .contenedor-chefs{
        width: 95vw;
    }
    .chefs{
        padding-top: 0rem;
    }
    .texto-chefs h2{
        margin-top: 0rem;
        font-size: 2.5rem;
    }
    .texto-chefs p{
        width: 85%;
        font-size: 1rem;
    }
    .hoja-chef{
        display: none;
    }
}
@media (max-width:500px) {
    .texto-chefs h2{
        font-size: 2.3rem;
    }
    .texto-chefs p{
        width: 85%;
        font-size: 0.9rem;
    }
    .uno{
        width: 21rem;
        height: 27rem;
        margin-bottom: -5rem;
    }
    .dos{
        width: 17rem;
        height: 29rem;
    }
    
    .tres{
        width: 20rem;
        height: 29rem;
    }
}
@media (max-width:360px) {
    .texto-chefs h2{
        font-size: 1.8rem;
    }
    .texto-chefs p{
        width: 100%;
        font-size: 0.9rem;
    }
    .uno{
        width: 18rem;
        height: 26rem;
        margin-bottom: -5rem;
    }
    .dos{
        width: 14rem;
        height: 26rem;
    }
    
    .tres{
        width: 17rem;
        height: 26rem;
    }
}
@media (max-width:320px) {
    .uno{
        width: 17rem;
        height: 24rem;
    }
    .dos{
        width: 13rem;
        height: 26rem;
    }
    
    .tres{
        width: 16rem;
        height: 24rem;
    }
}
/* =====FIN CELULAR======= */

/* FIN  MEDIA QUERIES NOSOTROS */
