/* OPCIONES */
.seccion-opciones{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10rem 0rem 2rem;
}
.contenedor-opciones{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* OPCIONES-TARJETA */
.tarjeta{
    background-color: white;
    border-radius: 25px;
    width: 23rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(209, 205, 205);
    cursor: pointer;
}
.tarjeta-producto{
    transition: all 250ms;
    cursor: pointer;
}
.tarjeta-producto:hover{
    box-shadow: 0px 0px 10px var(--verde--oscuro);
}
.tarjeta img{
    width: 14rem;
    border-radius: 50%;
    border: 0.9rem solid var(--verde--oscuro);
    transform: translateY(-50%);
    margin: 0;
}
.tarjeta-textos{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    transform: translateY(-65%);
}
.tarjeta-textos h2{
    font-size: 1.7rem;
    width: 80%;
}
.tarjeta-textos p{
    color: var(--gris);
    width: 85%;
}
.opciones-comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateY(-200%);
}
.opciones-comprar p{
    border: 1px solid var(--negro);
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: var(--negro);
}
.opciones-comprar a{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar a:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}
.opciones-comprar button{
    border: 1px solid var(--verde--oscuro);
    border-radius: 20px;
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--verde--oscuro);
    color: var(--blanco);
    cursor: pointer;
    transition: all 250ms ease;
}
.opciones-comprar button:hover{
    border: 1px solid var(--verde--oscuro);
    background-color: var(--blanco);
    color: var(--verde--oscuro);
    cursor: pointer;
}

/* MEDIA QUERIES */
/* ===COMPUTADORA O LAPTOP=== */
@media (max-width:1750px) {
    .tarjeta{
        width: 21rem;
        height: 22rem;
    }
    .tarjeta img{
        width: 12rem;
    }
    .tarjeta-textos{
        padding-top: 2rem;
    }
    .tarjeta-textos h2{
        font-size: 1.7rem;
        width: 90%;
    }
}
@media (max-width:1650px) {
    .tarjeta{
        width: 20.4rem;
        height: 22rem;
    }
    .tarjeta img{
        width: 12rem;
    }
}
@media (max-width:1570px) {
    .tarjeta{
        width: 19rem;
        height: 21rem;
    }
    .tarjeta img{
        width: 11rem;
        transform: translateY(-70%);
    }
}
@media (max-width:1500px) {
    .tarjeta img{
        width: 11rem;
        border: 0.7rem solid var(--verde--oscuro);
    }
    .opciones-comprar p{
        font-size: 1.1rem;
    }
    .tarjeta-textos h2{
        font-size: 1.5rem;
        width: 90%;
    }
    .tarjeta-textos p{
        font-size: 1rem;
    }
}
@media (max-width:1440px) {
    .tarjeta{
        width: 17rem;
        height: 20rem;
    }
    .tarjeta img{
        width: 11rem;
        border: 0.7rem solid var(--verde--oscuro);
    }
    .opciones-comprar p{
        font-size: 1rem;
    }
    .tarjeta-textos{
        padding-top: 3rem;
    }
    .tarjeta-textos h2{
        font-size: 1.4rem;
        width: 90%;
    }
    .tarjeta-textos p{
        font-size: 0.9rem;
    }
    .opciones-comprar a{
        font-size: 1rem;
        padding: 0.5rem 0.5rem 0.7rem;
    }
    .opciones-comprar button{
        font-size: 1rem;
        padding: 0.5rem 0.5rem 0.7rem;
    }
}
@media (max-width:1350px) {
    .tarjeta img{
        width: 9.5rem;
        border: 0.7rem solid var(--verde--oscuro);
    }
    .tarjeta-textos{
        padding-top: 5rem;
    }
    .tarjeta-textos h2{
        width: 95%;
    }
}
@media (max-width:1300px) {
    .seccion-opciones{
        padding: 8rem 0rem 2rem;
    }
    .tarjeta{
        width: 16rem;
        height: 19rem;
    }
    .tarjeta-textos p{
        font-size: 0.8rem;
    }
    .tarjeta-textos h2{
        font-size: 1.3rem;
    }
}
@media (max-width:1240px) {
    .tarjeta{
        width: 15rem;
        height: 19rem;
    }
    .opciones-comprar a,
    .opciones-comprar button{
        font-size: 0.9rem;
        padding: 0.5rem;
    }
    .opciones-comprar p{
        font-size: 0.9rem;
    }
}
@media (max-width:1150px) {
    .tarjeta{
        width: 13rem;
        height: 18rem;
    }
    .opciones-comprar a,
    .opciones-comprar button{
        font-size: 0.8rem;
        padding: 0.4rem;
    }
    .opciones-comprar p{
        font-size: 0.8rem;
        padding: 0.3rem 0.7rem;
    }
    .tarjeta img{
        width: 8rem;
        border: 0.5rem solid var(--verde--oscuro);
    }
    .tarjeta-textos{
        transform: translateY(-60%);
    }
}
/* ===FIN COMPUTADORA O LAPTOP */

/* ===TABLET==== */
@media (max-width:1024px) {
    .tarjeta{
        margin: 4rem 0rem;
        width: 22rem;
        height: 20rem;
    }
    .tarjeta img{
        width: 12rem;
        border: 0.6rem solid var(--verde--oscuro);
    }
    .contenedor-opciones{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .tarjeta-textos{
        transform: translateY(-80%);
    }
    .tarjeta-textos p{
        font-size: 1rem;
    }
    .tarjeta-textos h2{
        font-size: 1.5rem;
    }
    .opciones-comprar{
        transform: translateY(-325%);
    }
    .opciones-comprar a{
        font-size: 1.1rem;
        padding: 0.4rem 0.4rem;
    }
    .opciones-comprar button{
        font-size: 1.1rem;
        padding: 0.4rem 0.4rem;
    }
    .opciones-comprar p{
        font-size: 1.1rem;
        padding: 0.4rem 0.6rem;
    }
}
@media (max-width:848px) {
    .tarjeta{
        width: 20rem;
    }
}
/* === FIN TABLET==== */

/* ===CELULAR=== */
@media (max-width:768px) {
    .contenedor-opciones{
        width: 95vw;
    }
}
@media (max-width:400px) {
    .seccion-opciones{
        margin: -2rem 0rem 0rem;
        padding: 8rem 0rem 0rem;
    }
}
@media (max-width:360px) {
    .tarjeta{
        width: 19rem;
    }
    .tarjeta img{
        width: 10rem;
        border: 0.6rem solid var(--verde--oscuro);
    }
    .tarjeta-textos{
        transform: translateY(-70%);
    }
}
@media (max-width:322px) {
    .tarjeta{
        width: 16rem;
    }
    .tarjeta img{
        width: 8.5rem;
        border: 0.6rem solid var(--verde--oscuro);
        transform: translateY(-60%);
    }
    .tarjeta-textos{
        transform: translateY(-60%);
    }
    .tarjeta-textos p{
        font-size: 0.9rem;
    }
    .tarjeta-textos h2{
        font-size: 1.4rem;
    }
    .opciones-comprar{
        transform: translateY(-325%);
    }
    .opciones-comprar a{
        font-size: 1.1rem;
        padding: 0.4rem 0.4rem;
    }
    .opciones-comprar button{
        font-size: 1.1rem;
        padding: 0.4rem 0.4rem;
    }
    .opciones-comprar p{
        font-size: 1.1rem;
        padding: 0.4rem 0.6rem;
    }
}
/* FIN MEDIA QUERIES */